*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  /* background: url('./images/restaurant.jpg') no-repeat center center fixed repeating-linear-gradient( 45deg, #f5f5f5, #f5f5f5 10px, #fff 10px, #fff 20px); */
  background-size: cover;
  
 }

 img{
  filter: grayscale(100%) brightness(50%);
}